<form id="player-form" action="." method="post">
    {{#unless isNew }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ name }} <span class="badge"><span class="glyphicon glyphicon-king rating-overall"> {{ rating_overall }}</span></h3>
        </div>
        <div class="panel-body">
            <div class="media-left">
                <a href="#" class="thumbnail">
                    <img src="{{ icon_url }}" class="img-circle">
                </a>
            </div>
            <div class="media-right">
                <p>Sure would be nice if I had something to put here....</p>
                <p>Overall Rating - <span class="badge"><span class="glyphicon glyphicon-king rating-overall"></span> {{ rating_overall }}</span></p>
                <p>Rating as White - <span class="badge"><span class="glyphicon glyphicon-pawn rating-white"></span> {{ rating_white }}</span></p>
                <p>Rating as Black - <span class="badge"><span class="glyphicon glyphicon-pawn rating-black"></span> {{ rating_black }}</span></p>
            </div>
        </div>
        <div class="panel-footer">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="isActive"{{#if is_active }} checked{{/if}}> Active
                </label>
            </div>
        </div>
    </div>
    {{/unless}}
    {{#if isNew }}
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" name="name" placeholder="Player Name" value="{{ name }}">
        </div>
        <div class="form-group">
            <label for="icon">Icon</label>
            <input type="file" name="icon">
            <p class="help-block">Images should be at least 200x200</p>
        </div>
    {{/if}}
    <button class="submit btn btn-lg btn-success">
        {{#if isNew }}Create{{else}}Save{{/if}}
    </button>
    {{#unless isNew }}
        <button class="cancel btn btn-lg btn-primary">Cancel</button>
    {{/unless}}
</form>
