<td># {{ id }}</td>
<td>{{ winningWhite.name }}</td>
<td>{{ winningBlack.name }}</td>
<td>{{ losingWhite.name }}</td>
<td>{{ losingBlack.name }}</td>
<td>{{ losing_color }}</td>
<td>{{ loss_type }}</td>
<td>
    {{#if isEditable }}
        <button type="button" class="btn btn-danger delete">Delete</button>
        <button type="button" class="btn btn-default edit">Edit</button>
    {{/if}}
    {{#if isFrozen }}
        ---------
    {{/if}}
</td>
